<h1>Departments at Nordstrom</h1>

<% @departments.each do |department| %>
  <section id="department-<%= department.id %>">
  <h2><%= department.name %></h2>
    Level: <%= department.floor %><br/>
    Employees: <% department.employees.each do |employee| %>
      <li><%= employee.name %></li>
    <% end %>
  </section>
<% end %>